body {
background-image : url('ws.jpg');
	 background-repeat : no-repeat;
	 background-size : 100% 100%;
	 background-attachment : fixed;
	 overflow : hidden;
     transition: background-image 0.5s ease;
}

.puzzleWrap {
  width: 850px;
  margin: 50px auto 0;
}

p {
  font: 120px arial;
  margin: 20px 20px 0px 45px;
  color: white;
}

#puzzle {
	
  padding: 20px;
  float: left;
  margin: 30px 20px;
  width: 500px;
}

#puzzle div {
  width: 100%;
  margin: 0 auto;
}

#puzzle .puzzleSquare {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  background-color:#916f65;
  border:0;
  outline: none;
  font:15px arial;
  font-weight:bold ;
  color: white;
}

#puzzle .selected {
  color:#4695ED;
  outline: none;
}

/*#puzzle .found {
  color:  #ff3300;
}*/

#puzzle .solved {
  color: #ff3300;
}

#puzzle .complete {
  background-color: #2E8B57;
}

#words {
  width: 250px;
  color: white;
  float: left;
  margin-top: 37px;
}

#words ul {
  list-style-type: none;
}

#words li {
  padding: 0 0 7px;
  text-transform: uppercase;
  font: 15px arial;
  font-weight:bold;
  display: inline-block;
  float: left;
  width: 100px;
}

#words .wordFound {
  text-decoration: line-through;
  color: #4695ED;
}

#solve {
  margin: 30px 30px 0 40px;
  background: transparent;
  color: #4695ED;
  padding: 10px 20px;
  border: 2px solid #4695ED;
  border-radius: 25px;
  opacity: .5;
  transition: opacity .25s ease-in;

  &:hover, &.gameSolved {
    opacity: 1;
  }
}

/* Style for the home button */
.homeButton {
  background-color: #916f65;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
   margin-top: 20px; /* Adjust margin top to add space between the words and button */
  width: fit-content; /* Adjust width as needed */
  margin-left: 20px; /* Centers the button */
  margin-right: 20px; /* Centers the button */
  font-family: Arial, sans-serif;
}

.homeButton:hover {
  background-color: #57423c;
}
